@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    box-sizing: border-box;
}

h1 {
    font-weight: 700;
}

body {
    background: linear-gradient(to right, rgb(14, 14, 112), black);
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    padding: 1rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.247);
    a {
      font-size: 25px;
      color: white;
      text-decoration: none;
      font-weight: 500;
    }
}

.headlines{
    text-align: end;
    margin-right: 2rem;
}

nav {
    display: flex;
    flex-direction: row;
    height: 5vh;
    gap: 1vw;
    align-items: center;
    padding-left: 5vw;
}

nav a:nth-child(2){
    color: grey;
}

nav a:nth-child(2):hover{
    color:white;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dot {
        aspect-ratio: 1 / 1;
        border-radius: 50%;

        &:nth-of-type(1) {width: 20vw}
        &:nth-of-type(2) {width: 1vw}
        &:nth-of-type(3) {width: 2vw}
        &:nth-of-type(4) {width: 5vw}
        &:nth-of-type(5) {width: 3vw}
        &:nth-of-type(6) {width: 10vw}
        &:nth-of-type(7) {width: 8vw; position: relative}
        &:nth-of-type(8) {width: 5vw}
        &:nth-of-type(9) {width: 4vw}
    
        .line {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 12vw;
            height: 5px;
            background-color: rgb(241, 238, 219);
            border-radius: 100%;
            transform: translate(-50%, -50%) rotate(-45deg);
            z-index: 1;
        }
    }

    .dot:hover {
        cursor: pointer;
    }
}

footer {
    text-align: center;
    padding-bottom: 2rem;
}