* {
  margin: 0;
  box-sizing: border-box;
  
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  background: linear-gradient(to right, rgb(16, 16, 86), rgb(21, 18, 24) );
  /* background-image: url('https://github.com/Lexicon-Frontend-2024/exercise-js-solaris/blob/main/assets/star-transparent.png?raw=true');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  color: white;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  height: 5vh;
  gap: 1vw;
  align-items: center;
  padding-left: 5vw;
  
  background-color: rgba(0, 0, 0, 0.247);
  a {
    font-size: 25px;
  }
}

.container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.my_aside {
  height: 100%;
  overflow: hidden;
  display: grid;
  place-items: center;
  position: relative;
  
  * {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: rgba(0, 255, 255);
    z-index: 1;
    left: -110vh;
    position: absolute;
    
    &:nth-of-type(1) {height: 120vh; opacity: 100%}
    &:nth-of-type(2) {height: 125vh; opacity: 10%}
    &:nth-of-type(3) {height: 130vh; opacity: 10%}
  }
}
     
      main {
        grid-column: 2 / 4;
      }
      
      .factContainer {
        border-top: 1px solid #FFFFFF33;
        border-bottom: 1px solid #FFFFFF33;
      }
      
      footer {
        text-align: center;
      }

      
.main_single_page_section{
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.text_for_planet{
  margin-top: 1em;
  color: yellow;
}

.info_for_text p{
  margin-top: 1em;
  margin-bottom: 1em;
}

.factContainer{
  display: grid
}

