* {
  margin: 0;
  box-sizing: border-box;
  
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.container{
  background: linear-gradient(to right, rgb(16, 16, 86), rgb(21, 18, 24) );
  color: white;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

header {
display: flex;
flex-direction: column;
}


main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

aside {
  display: flex;
}

.my_aside {
  margin-top: 10vw;
/*   grid-column: 1;
 *//*   z-index: 1;
 */  height: 100%;
/*   aspect-ratio: 1 / 1;
 */  border-radius: 50%;
  background-color: aqua;
  transform: translate(-50%, -50%);
  height: 70vw;
  width: 70vw;
  margin-left: -25vw;
}

.my_asideB {
  margin-top: 10vw;
/*   grid-column: 1;
 *//*   z-index: 1;
 */  height: 100%;
/*   aspect-ratio: 1 / 1;
 */  border-radius: 50%;
  background-color: aqua;
  transform: translate(-50%, -50%);
  height: 80vw;
  width: 80vw;
  margin-left: -65vw;
  opacity: 10%;
}

.my_asideC {
  margin-top: 10vw;
/*   grid-column: 1;
 *//*   z-index: 1;
 */  height: 100%;
/*   aspect-ratio: 1 / 1;
 */  border-radius: 50%;
  background-color: aqua;
  transform: translate(-50%, -50%);
  height: 90vw;
  width: 90vw;
  margin-left: -75vw;
  opacity: 6%;
}



.main_single_page_section {
  grid-column: 2 / 4;
}

.factContainer {
  border-top: 1px solid #FFFFFF33;
  border-bottom: 1px solid #FFFFFF33;
}

footer {
  text-align: center;
}